* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
  transition: scroll 1s;
}

ul {
  list-style-type: none;
}

.weather-days {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  & li {
    background-color: #cecece;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
}
